* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #ec715f;
}

.main_header {
  width: 1024px;
  font-size: 16px;
  color: #fafafa;
}

.main_visual h1 {
  font-size: 64px;
  color: #fafafa;
  padding-top: 200px;
  padding-bottom: 10px;
}
