* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #ec715f;
  line-height: 70px;
}

.main_header {
  width: 1024px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  font-size: 16px;
  color: #fafafa;
}

.main_visual {
  width: 100%;
  background-image: url(img\ 3/mv.png);
  background-size: 100%;
  height: 650px;
  text-align: center;
  color: #fafafa;
}

.main_visual h1 {
  font-size: 64px;
  padding-top: 200px;
  padding-bottom: 10px;
}

/* フッター */
footer {
  height: 60px;
  background-color: #ec715f;
  font-size: 16px;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}
